<html>
<head>
<title>{% block title %}{% endblock %}</title>
<link type="text/css" href="/media/css/jquery-ui.css" rel="stylesheet" /> 
<script src="http://www.google.com/jsapi?key=ABQIAAAAzr2EBOXUKnm_jVnk0OJI7xSosDVG8KKPE1-m51RBrvYughuyMxQ-i1QfUnH94QxWIa6N4U6MouMmBA" type="text/javascript"></script> 
<script> 
  google.load("jquery", "1.4.2");
  google.load("jqueryui", "1.8.2");
</script> 
<script src="/media/js/jquery-ui-datepicker.js" type="text/javascript" charset="utf-8"></script>
<script src="/media/js/jquery-ui-button.js" type="text/javascript" charset="utf-8"></script>
<script src="/media/js/jquery-form.js" type="text/javascript" charset="utf-8"></script>

<style type="text/css">
  @font-face { 
   font-family: 'sitefont'; 
   src: url(http://imagine-it.org/google/wave/wordart_font.otf); 
  }

  body {
    font-family: 'sitefont'; 
  }
  label, .label {
    width: 8em;
    float: left;
    text-align: right;
    margin-right: 0.5em;
    display: block;
    font-weight: bold;
  }

  .indent {
    margin-left: 1em;
  }
  
  h1, h2, h3, h4, h5 {
    padding-left: 5px;
  }
</style>
</head>
<body>
<div style="width:100%; background-color: orange; color: white; padding-bottom:0px; margin-bottom:0px">
<h1>The Little Things</h1>
</div>
<div style="clear:both"></div>
{% block body %}
{% endblock %}
<div style="clear:both; height:20px;"></div>
<div style="width:100%; text-align: right; background-color: #FEE5AC; color:#FF8C00">
...because every little thing counts.
</div>
</body>
</html>