<div class="ui-widget-content ui-corner-all">
   <p>
     <span class="indent">Title</span>
     <span>{{task.title}}</span>
   </p>
   <p>
     <span class="indent">Description</span>
     <span>{{task.description}}</span>
   </p>
   <p>
     <span class="indent">Expiration</span>
     <span>{{task.expiration}}</span>
   </p>
   <p>
     <span class="indent">Points</span>
     <span>{{task.points}}</span>
   </p>
   <p>
     <span class="indent">Estimated Time</span>
     <span>{{task.estimated_time}}</span>
   </p>
   <p>
     <span class="indent">Type</span>
     <span>{{task.task_type.name}}</span>
   </p>
</div>
