<div class="ui-widget-content ui-corner-all">
<h2 class="ui-widget-header ui-corner-all">Task: {{task.title}}</h2>
   <p>
     <span class="label">Description</span>
     <span class="indent">{{task.description}}</span>
   </p>
   <p>
     <span class="label">Expiration</span>
     <span class="indent">{{task.expiration|date:"D d M Y"}}</span>
   </p>
   <p>
     <span class="label">Points</span>
     <span class="indent">{{task.points}}</span>
   </p>
   <p>
     <span class="label">Estimated Time</span>
     <span class="indent">{{task.estimated_time}}</span>
   </p>
   <p>
     <span class="label">Type</span>
     <span class="indent">{{task_type}}</span>
   </p>
   {% for data in metadata %}
   <p>
     <span class="label">{{ data.label }}</span>
     <span class="indent">{{ data.value }}</span>
   </p>
   {% endfor %}
</div>
