 <div class="ui-widget-content ui-corner-all">
  <h1 class="ui-widget-header ui-corner-all">New Task</h1>
   <div>
     <form id="task_new" action="/api/task/create" method="post"> 
     <p>
      <label for="task_name">Name:</label>
      <input class="indent"  type="text" name="task_name">
     </p>
     <p>
      <label for="task_description">Description</label>
      <textarea class="indent"  name="task_description"></textarea>
     </p>
     <p>
       <label for="task_date">Expiration</label>
       <input class="indent" type="text" name="task_expiration">
     <p>
     <p>
       <label for="minbeds">Points</label> 
       <div class="indent" id="points_slider" style="width:6em; float:left"></div> 
       <input type="text" name="task_points" readonly="true" style="margin-left: 3px; width: 30px"/> 
     </p>
     <p style="clear:left">
      <label for="task_template">Type</label>
      <select class="indent"  id="tasktemplate_dropdown" name="task_template">
       {% for task_type in task_types %}
        <option value="{{ task_type.key.id }}">{{ task_type.name }}</option>
       {% endfor %}
      </select>
     </p>
     <p id="tasktemplate"></p>
     <p>
     <input class="indent" type="submit" value="Create" class="ui-button ui-button-text-only ui-widget ui-state-default ui-corner-all">
     <p>
     </form>
    </div>
  </div>
<script>

$('#tasktemplate_dropdown').change(function() {
  $.ajax({
    url: '/tasktemplate/' + $('#tasktemplate_dropdown').val(),
    success: function(data) {
       $('#tasktemplate').html(data);
    }
  });
});
$('#tasktemplate_dropdown').trigger('change');

$(document).ready(function() { 
  $('#task_new').ajaxForm(function() { 
    // Change to dialog
    alert("Thank you for your comment!"); 
  }); 
  $("input[name='task_expiration']").datepicker();
  $("#points_slider").slider({
        min: 1,
        max: 30,
        slide: function(event, ui) {
            $("input[name='task_points']").val(ui.value);
        }
   });
  $("input[name='task_points']").val($("#points_slider").slider("value"));
}); 
  </script>