<p>
<div class="label">&nbsp;</div>
<div class="indent" id="map" style="width:300px; height: 200px"></div>
<p>
<script>
google.load('maps', '3', {
 other_params: 'sensor=false'
});

var map;

function showAddress() {
  var geocoder = new google.maps.Geocoder();
  var address = $('#address').val();
  geocoder.geocode( { 'address': address}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      var result = results[0];
      position = results[0].geometry.location;
      var marker = new google.maps.Marker({position: position});
      marker.setMap(map);
      map.setCenter(position);
      var positionSer = position.lat() + ',' + position.lng();
      $('input[name="task_location"]').val(positionSer);
    } else {
      alert("Address not found");
    }
  });
}

function makeMap() {
  var center = new google.maps.LatLng(39.91, 116.38);
  map = new google.maps.Map(document.getElementById('map'), {
        zoom: 3,
        center: center,
        mapTypeId: google.maps.MapTypeId.ROADMAP
  });
}  

makeMap();
</script>